*{
	margin: 0;
	padding: 0;
}

.logo2{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.main-nav{
	float: right;
	margin-top: 60px;
	margin-right: 20px;
}

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	padding: 5px 0;
	color: white;
	text-decoration: none;
	font-size: 90%;
	font-weight: 100;
}

.main-nav li a:hover{
	background-color: skyblue;
}

.logo{
	margin-left: 2px;
	margin-top: 210px;
}

.order-now{
	width: 85%;
	max-width: 600px;
	background: #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 30px 40px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
	font-family: "Montserrat",sans-serif;
	margin-top: 75px;
	margin-left: 330px;
}

.order-now h1{
	margin: 0;
	font-weight: 200;
	color: maroon;
}

.text-box{
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}

.text-box label{
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}

.text-box input{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}

.btn{
	display: inline-block;
	background: #9b59b6;
	padding: 10px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
}

footer{
	margin-top: 550px;
	margin-left: 10px;
	color: white;
}